@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
  
}
.side-bar {
  position: fixed;
  height: 100%;
  width: 240px;
  background-color: #394867;
  transition: all 0.3s ease;
}
.side-bar .logo {
  height: 60px;
  width: 100%;
  padding: 15px 10px 10px 18px;
  font-size: 1.6rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.5s all;
}
.side-bar .logo span h4 {
  font-weight: 500;
  color: rgb(255, 255, 255);
}
nav > .navs-links div {
  height: 65px;
  width: 100%;
  margin-top: 6px;
  cursor: pointer;
}
nav > .navs-links div  {

  display: flex;
  align-items: center;
  color: white;
  transition: all 0.4s ease;
  letter-spacing: 0.7px;
}
nav > .navs-links li a .name {
  white-space: nowrap;
}
nav > .navs-links div  i {
  font-size: 20px;
  min-width: 70px;
  text-align: center;
}
nav > .navs-links div  span {
  color: white;
}
nav > .navs-links div  {
  color: #9ba4b5;
}
nav > .navs-links div:hover {
  /* #2d3d5d */
  background-color: #212a3e;
  color: white;
}

/* button log out*/

nav .logout {
  color: #9ba4b5;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.7px;
  margin-top: 102px;
  height: 65px;
  transition: all 0.4s;
}
nav .logout:hover {
  background-color: #212a3e;
  color: white;
}
nav .logout span {
  color: white;
}
nav .logout i {
  font-size: 20px;
  min-width: 70px;
  text-align: center;
}

/* home section */

.home-section {
  background-color: #f9f7f7;
  position: relative;
  height: 100%;
  width: calc(100% - 240px);
  left: 240px;
  min-height: 100vh;
  transition: all 0.4s ease;
  overflow-y: auto;
  overflow-x: visible;
}
.home-section main nav {
  height: 60px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.4s ease;
  z-index: 5000;
}

.home-section main nav > .side-bar-button {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.home-section main nav > .side-bar-button .dashboard {
  margin-left: 5px;
  letter-spacing: 0.7px;
}

.home-section main nav .bx.bx-menu {
  font-size: 24px;
  margin-top: 1px;
}

.home-section main nav .profile-info img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 6px;
  box-shadow: 1.3px 1.3px 1.2px rgba(0, 0, 0, 0.2);
}

.side-bar.active {
  width: 70px;
  
}
.side-bar.active ~ .home-section main nav{
  width: calc(100% - 70px);
  left: 70px;
}
.side-bar.active ~ .home-section{
  width: calc(100% - 70px);
  left: 70px;
}

.home-section .content{
 top: 70px;
 position: relative;
 padding: 0 20px;
}
.content .boxes-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2rem;
  margin-bottom: 20px;
}
.content .boxes-container .box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1.2rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(114, 113, 113, 0.2);

}
.content .boxes-container .box .icons{
  color: #5972a4;
  border-radius: 5px;
  height: 52px;
  width: 52px;
  font-size: 30px;
  background-color:#5972a4 ;
}
.content .boxes-container .box .icons i {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  color: white;
}
.tables{
  max-height: 400px;
  overflow-y: scroll;
  box-shadow: 3px 3px 5px rgba(114, 113, 113, 0.2);
  background-color: #ffffff;
}
.content h4{
  margin-bottom: 10px;
  font-size: 19px;
}




#contentall {
  animation: page-transition 0.5s ease-out;
}

@keyframes page-transition {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

